<header>
    <div class="start">
        <a href="https://byemc.xyz/" id="title">
            return to byespace
        </a>
    </div>
    <div class="end">
        <span class="bold">
            the backlog
        </span>
    </div>
</header>